/frequency_distribution/frequency_distribution
/increasing_tokens/increasing_tokens
/ncpu_distribution/ncpu_distribution
/pvs_bin/pvs_bin
/sleep_duration/sleep_duration
/temp_battery_correlation/temp_battery_correlation
/temp_distribution/temp_distribution
/temps_gz_creator/temps_gz_creator
*.json
